@model AppEstudiantesISO905.Domain.Models.Calificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Examen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Examen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromedioCalificaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromedioCalificaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCalificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCalificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
